services:
  backend:
    build:
      context: backend
    restart: unless-stopped
    ports:
      - "18080:18080"
    environment:
      - PORT=18080
      - BUILD_TYPE=Debug
  frontend:
    build:
      context: frontend
    restart: unless-stopped
    ports:
      - "8181:8181"
    environment:
      - PORT=8181
