/* Styles for App.jsx */
#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 0;
  background: var(--bg-color);
}

.teams-container {
  min-height: 100vh;
}

.title {
  margin-top: 1em;
  background-size: cover;
  background-position: center;
  background-image: url('');
}