
.summary-page {
    padding: 1rem 2rem;
    max-width: 900px;
    margin: 0 auto;
    height: calc(100vh - 80px);
    padding-top: 12em;   
}

.teamRow {
    flex: 0 0 calc(55% - 2em);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin: 2em;
    justify-content: center;
}

.teamContainer {
    flex: 0 0 calc(47% - 2em);
    border: var(--border);
    padding: 1em;
}

.totalContainer {
    flex: 1 0 0;
    flex-direction: column;
    justify-content: left;
    border: var(--border);
    margin: 2em;
    padding: 1em;
}

.souveniersContainer {
    margin-top: .5em;
}

.quantityContainer {
    width: 20%;
}

.summaryContainer {
    margin-top: 1em;
}

.fullStadiums-map {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}