
.summary-page {
    padding: 1rem 2rem;
}

.teamRow {
    flex: 0 0 calc(55% - 2em);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin: 2em;
    justify-content: center;
}

/* .teamContainer {
    flex: 0 0 calc(47% - 2em);
    border: var(--border);
    padding: 1em;
} */


/* .souveniersContainer {
    margin-top: .5em;
} */

.quantityContainer {
    width: 20%;
}

.summaryContainer {
    margin-top: 1em;
}

.stadiums-map {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; /* left-align */
    margin-top: 20px;
}

.totalContainer {
    width: 300px; /* fixed width sidebar */
    position: sticky;
    top: calc(80px + 40px); /* navbar + margin */
    align-self: flex-start;
    border: var(--border);
    padding: 1em;
    background-color: #fff; /* optional: to make it stand out */
    flex-shrink: 0; /* prevent shrinking */
}

.quantityContainer {
    width: 20%;
}

.summaryContainer {
    margin-top: 1em;
}