

.containerStyle {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.columnStyle {
    flex: 1;
    border: 1px solid var(--border);
    border-radius: 8;
    padding: 0.75rem;
    min-height: 12rem;
    background: var(--panel);
}

.createTripButton {
    padding: .5rem;
    font-weight: 700;
}

.createTripButton button {
    color: var(--white);
    background-color: var(--purple);
}

.teamStyle {
    padding: 0.5rem;
    border-radius: 1em;
    min-height: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--muted);
    border: var(--border);
}

.teamStyle button {
    margin-top: 0.25rem;
    text-align: right;
    background-color: var(--purple);
    color: var(--white);
    align-self:flex-end;
}

.nameStyle {
    font-size: medium;
    color: var(--muted);
}

.loadingStyle {
    padding: 1rem;
}

.errorStyle {
    padding: 1rem;
    color: var(--danger);
}

.headerStyle {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.gridStyle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.trip-type-container {
    display: flex;
    flex-direction: column;
}

.trip-type-container label {
    font-weight: 600;
}